<div class="form-container">
    <h2>Registrar Abastecimento</h2>
    <p *ngIf="veiculo">Para o veículo: <strong>{{ veiculo.modelo }} ({{ veiculo.placa }})</strong></p>

    <form (ngSubmit)="onSubmit()" #abastecimentoForm="ngForm">

        <div class="form-group">
            <label for="data">Data do Abastecimento</label>
            <input type="date" id="data" name="data" [(ngModel)]="abastecimento.data" required>
        </div>

        <div class="form-group">
            <label for="tipoCombustivel">Tipo de Combustível</label>
            <select id="tipoCombustivel" name="tipoCombustivel" [(ngModel)]="abastecimento.tipoCombustivel" required>
                <option value="" disabled>Selecione um tipo</option>
                <option *ngFor="let tipo of tiposDeCombustivel" [value]="tipo">{{ tipo }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="valor">Valor Total (R$)</label>
            <input type="text" id="valor" name="valor" [(ngModel)]="abastecimento.valor" required min="0"
                placeholder="R$ 0,00" mask="separator.2" thousandSeparator="." decimalMarker="," prefix="R$ ">
        </div>

        <div class="form-group">
            <label for="quilometragem">Quilometragem no Abastecimento</label>
            <input type="text" id="quilometragem" name="quilometragem" [(ngModel)]="abastecimento.quilometragem"
                required min="0" mask="separator" thousandSeparator=".">
        </div>

        <div class="form-group">
            <label for="motoristaResponsavel">Motorista Responsável</label>
            <select id="motoristaResponsavel" name="motoristaResponsavel"
                [(ngModel)]="abastecimento.motoristaResponsavel" required>
                <option value="" disabled>Selecione um motorista</option>
                <option *ngFor="let motorista of motoristasAtivos" [value]="motorista.nomeCompleto">
                    {{ motorista.nomeCompleto }}
                </option>
            </select>
        </div>

        <div class="form-actions">
            <button type="submit" [disabled]="abastecimentoForm.invalid" class="btn-primary">Salvar</button>
            <button type="button" routerLink="/admin/dashboard" class="btn-secondary">Cancelar</button>
        </div>
    </form>
</div>