:host {
  display: block;
  padding: 2rem;
}

.details-page-container {
  max-width: 900px;
  margin: 0 auto;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--cor-borda);
  padding-bottom: 1rem;
}

.details-header h1 {
  margin: 0;
  font-size: 2rem;
}

.subtitle {
  margin: 0;
  font-size: 1.1rem;
  color: var(--texto-secundario);
}

.details-card {
  background-color: var(--cor-superficie);
  border-radius: 12px;
  box-shadow: var(--sombra-padrao);
  padding: 2rem;
}

.details-card-section {
  margin-bottom: 2.5rem;
}

.details-card-section:last-child {
  margin-bottom: 0;
}

.details-card-section h3 {
  margin-top: 0;
  border-bottom: 1px solid var(--cor-borda);
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem 2rem;
}

.info-item label {
  display: block;
  font-size: 0.9rem;
  color: var(--texto-secundario);
  margin-bottom: 0.25rem;
}

.info-item p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  word-break: break-word;
}

/* Estilos para o "Badge" de Status */
.status-badge {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  /* Arredondamento total */
  font-weight: 600;
  font-size: 0.8rem;
}

.AGENDADO {
  color: #1d4ed8;
  background-color: #dbeafe;
}

.EM_USO {
  color: #9a3412;
  background-color: #ffedd5;
}

.FINALIZADO {
  color: #065f46;
  background-color: #d1fae5;
}

.CANCELADO {
  color: #374151;
  background-color: #e5e7eb;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 150px;
}

.info-item-full-width {
  grid-column: 1 / -1; 
  margin-top: 1rem;
}